<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Mongoose</title>
  </head>
  <body>
    <h1>Add New Animal:</h1>
    <form action="/new" method="post">
      New Animal: <input type="text" name="animal"><br>
      <button>Submit</button>
    </form>
  </body>
</html>
