<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
  </head>
  <body>
    <h3>Add a New Book Title and Review:</h3>
    <form action="/add" method="post">

    Book Title: <input type="text" name="title">

    Author: <select name="author"><br>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>

    Or add another Author:  <input type="text" name="other_authors">

    Review: <textarea name="name" rows="8" cols="40"></textarea>

    Rating: <select name="rating"><br>
      <option value="one">1</option>
      <option value="two">2</option>
      <option value="three">3</option>
      <option value="four">4</option>
    </select>
    <input type="button" name="Add" value="Add Book and Review">

    </form>

  </body>
</html>
