<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pets</title>
  </head>
  <body>
    <h1>Pets</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Breed</th>
        <th>Action</th>
      </tr>
      {% for pet in pets %}
      <tr>
        <td>{{pet.name}}</td>
        <td>{{pet.description}}</td>
        <td>{{pet.breed}}</td>
        <td>
          <a href="/routes/show/{{pet.id}}">Show</a>
          <a href="/routes/edit/{{pet.id}}">Edit</a>
          <form action="/routes/destroy/{{pet.id}}" method="post">
            {% csrf_token %}
            <button>Remove</button>
          </form>
        </td>
        </tr>
      {% endfor %}
    </table>
    <a href="/routes/new">Add a new pet</a>
  </body>
</html>
