<div >
  <h3>Submitted Information</h3>
  <h4>Name: <%= @survey.name %></h4>
  <h4>Dojo Location: <%= @survey.location %></h4>
  <h4>Favorite Language <%= @survey.language %>:</h4>
  <h4>Comment: <%= @survey.comment %></h4>
</div>
