<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootcamp Courses</title>
  </head>
  <body>
    <h2>Add a new course</h2>
    <form action="/course" method="post">
      {% csrf_token %}
      Title: <input type="text" name="title"><br>
      Description: <br> <textarea name="description" rows="8" cols="40"></textarea><br>
      <input type="submit" value="Add">
    </form>
    <h2>Courses</h2>
    <table>
      <tr>
        <th>Courses Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Action</th>
      </tr>
      {% for course in courses %}
      <tr>
        <td>{{course.title}}</td>
        <td>{{course.description}}</td>
        <td>{{course.created_at}}</td>
        <td><a href="/delete/{{course.id}}">Remove</a></td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
