
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h2>Submitted Information</h2>
    Name: <%= craycray %> <br>
    Dojo Location:  <%= locations %> <br>
    Favorite Language:  <%= languages %> <br>
    Comment:  <%= comments %> <br>
    <form action="/" method="post">
      <button>Go Back</button>
    </form>
  </body>
</html>
