<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Survey Form</h1>
    <form action="/craycray" method="post">
      Name: <input type="text" name="name"><br>
      Dojo Location:
      <select name="location">
        <option value="Chicago">Chicago</option>
        <option value="Settle">Settle</option>
        <option value="Dallas">Dallas</option>
        <option value="California">California</option>
      </select><br>
      Favorite Language:
      <select name="language">
        <option value="Python">Python</option>
        <option value="Mean">Mean</option>
        <option value="Ruby">Ruby</option>
        <option value="IOS">IOS</option>
      </select><br>
      Comment (optional):<br> <textarea name="comment" rows="8" cols="40"></textarea><br>
      <button>Submit</button>
    </form>
  </body>
</html>
