<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show page</h1>
    <h3>Name: <%= @product.name %></h3>
    <h3>Description:  <%= @product.description %></h3>
    <h3>Price:  <%= @product.pricing%></h3>
    <a href="/">Back</a>  |   <a href="#">Edit</a>
  </body>
</html>
