<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Reg | Home</title>
  </head>
  <body>
    
    <h1>Registration</h1>
    <form action="" method="post">
      First Name: <input type="text" name="first_name"><br>
      Last Name: <input type="text" name="last_name"><br>
      Email: <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      Confirm Password: <input type="password" name="confirm_pw"><br>
      <input type="button" name="Register" value="Register" ><br>
  </form>

    <h1>Login</h1>
    <form action="" method="post">
      Email:  <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input type="button" name="Login" value="Login"><br>
    </form>


  </body>
</html>
