<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Lender</h1>
    <form action="/lenders" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label>First Name:</label><br>
      <input type="text" name="first_name" ><br>

      <label>Last Name:</label><br>
      <input type="text" name="last_name" ><br>

      <label>Email:</label><br>
      <input type="email" name="email" ><br>

      <label>Password:</label><br>
      <input type="password" name="password" ><br>

      <label>Money:</label><br>
      <input type="text" name="money" ><br>

      <a href="/sessions/new">Already a member?</a>
      <input type="submit" value="Register" >
    </form>

    <% if flash[:errors] %>
      <% flash[:errors].each do |err| %>
        <p><%= err %></p>
      <% end %>
    <% end %>

    <h1>Borrower</h1>

    <form action="/borrowers" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label>First Name:</label><br>
      <input type="text" name="first_name" ><br>

      <label>Last Name:</label><br>
      <input type="text" name="last_name" ><br>

      <label>Email:</label><br>
      <input type="email" name="email" ><br>

      <label>Password:</label><br>
      <input type="password" name="password" ><br>

      <label>Need Money for:</label><br>
      <input type="text" name="purpose" ><br>

      <label>Description:</label><br>
      <textarea name="description" rows="8" cols="40"></textarea><br>

      <label>Amount Needed:</label><br>
      <input type="text" name="amount_needed" ><br>

      <a href="/borrowers/new">Already a member?</a>
      <input type="submit" value="Register" >
    </form>



  </body>
</html>
